@media (max-width: 1024px) {
  #request-form,
  #container-title,
  #infos-container {
    width: 90vw;
  }

  header {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  #request-form {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    height: auto;
  }

  ul {
    flex-direction: column;
    padding: 20px;
    gap: 15px;
  }

  .text-container {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  #calculator-icon {
    bottom: -15px;
  }
}

@media (max-width: 768px) {
  #infos-container {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
  }

  .infos {
    width: 90%;
    height: auto;
    margin: auto;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5em;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: none;
  }

  #text-apresentation {
    font-size: 1em;
  }

  #btn-calcular {
    font-size: 1em;
  }

  .footer h3 {
    font-size: 1.2em;
  }
}
